[
    {ejobman, [
        {log, "/var/log/erpher/ej"},
        {debug, [
                {config, 6},
                {store, 6},
                {get, 6},
                {run, 6},
                {http, 6},
                {ets, 6}
        ]},
        {rabbit, [
                {port, 5672},
                {host, '127.0.0.1'},
                {user, <<"guest">>},
                {password, <<"guest">>},
                {vhost , <<"/">>},
                {exchange , <<"ejobman">>},
                {exchange_type , <<"topic">>},
                {queue , <<"test_queue_2">>},
                {routing_key , <<"new">>},
                {timeout , 16},
                {step_timeout , 0.2}
        ]},
        {handler, [
            {url_rewrite, [
                [
                    {src_host_part, "host2.localdomain"},
                    {dst_host_part, "127.0.0.1"}
                ],
                [
                    {src_host_part, "mdt.megaplan.kulikov"},
                    {dst_host_part, "192.168.9.183"}
                ],
                [
                    {src_host_part, "192.168.9.183"},
                    {dst_host_hdr, "promo.megaplan.kulikov"}
                ],
                [
                    {src_host_part, "promo.megaplan.kulikov"},
                    {dst_host_part, "192.168.9.183"},
                    {dst_host_hdr, "promo.megaplan.kulikov"}
                ],
                [
                    {src_type, regex},
                    {src_host_part, "127\\.0\\.0\\.\\d+"},
                    {dst_host_part, "127.0.0.1"},
                    {dst_host_hdr, "host3.localdomain"}
                ],
                [
                    {src_type, regex},
                    {src_host_part, "127\\.\\d+\\.\\d+\\.\\d+"},
                    {dst_host_part, "127.0.0.2"},
                    {dst_host_hdr, "host2.localdomain"}
                ]
            ]},
            {max_children, 1000}, % to process short command
            {debug,
                [
                    {config, 4},
                    {store, 0},
                    {get, 4},
                    {run, 5},
                    {http, 5},
                    {ets, 3}
                ]
            }
        ]}
    ]},
    {eworkman, [
        {log0, "/var/log/erpher/ew"}, % log is common and defined in ejobman
        {debug, [
                {config, 4},
                {run, 5},
                {http, 5}
        ]},
        {web_server_opts, [
            {port, 8143},
            {name, ejobman_monitoring_8143},
            {ssl, true},
            {ssl_opts, [
                {certfile, "/etc/erpher/ssl/test_certificate.pem"},
                {keyfile, "/etc/erpher/ssl/test_privkey_c.pem"}
            ]}
        ]},
        {pools, [
            [
                {id, p1},
                {min_workers, 1}, % long lasting workers
                {restart_policy, delay},
                {restart_delay, 10}, % sec. Delay before restarting the crashed worker
                {worker_duration, 60}, % seconds. Time before terminate
                {worker, [
                    {name, "/usr/bin/perl -Mstrict -w /etc/erpher/workers/t.pl"},
                    {debug,
                        [
                            {run, 6},
                            {http, 1}
                        ]
                    }]}
            ],
            [
                {id, p2},
                {min_workers, 2}, % long lasting workers
                {worker_duration, 300}, % seconds. Time before terminate
                {worker, [
                    {name, "/etc/erpher/workers/test.sh"},
                    {debug,
                        [
                            {run, 6},
                            {http, 1}
                        ]
                    }]}
            ]
        ]}
    ]}
].
