[
    {rabbit, [{tcp_listeners,[5672]}]}, % AMQP broker's default port
    {kernel, [
        {inet_default_listen_options, [{nodelay,true}]},
        {inet_default_connect_options, [{nodelay,true}]},
        {error_logger0, {file,"/var/log/erpher/rabbit-kernel.log"}}
    ]},
    {mnesia, [
        {dir, "/var/lib/erpher/mnesia/rabbit-erpher"}
    ]},
    {sasl, [
        {sasl_error_logger, {file,"/var/log/erpher/rabbit-sasl.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "/var/log/erpher/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},
    {ejobman, [
        % log is common and may also be defined in eworkman
        {log0, "/var/log/erpher/ej"},
        {debug, [
                %{handler_child, 3},
                %{handler_run, 3},
                {msg, 3},
                {json, 3},
                {config, 0},
                {run, 2}
        ]},
        {rabbit, [
                {port, 5672},
                {host, '127.0.0.1'},
                {user, <<"guest">>},
                {password, <<"guest">>},
                {vhost , <<"/">>},
                {exchange , <<"ejobman">>},
                {exchange_type , <<"topic">>},
                {queue , <<"test_queue_2">>},
                {routing_key , <<"new">>}
        ]},
        {handler, [
            {url_rewrite, [
                [
                    {src_host_part, "host2.localdomain"},
                    {dst_host_part, "127.0.0.1"}
                ],
                [
                    {src_host_part, "mdt.megaplan.kulikov"},
                    {dst_host_part, "192.168.9.183"}
                ],
                [
                    {src_host_part, "192.168.9.183"},
                    {dst_host_hdr, "promo.megaplan.kulikov"}
                ],
                [
                    {src_host_part, "promo.megaplan.kulikov"},
                    {dst_host_part, "192.168.9.183"},
                    {dst_host_hdr, "promo.megaplan.kulikov"}
                ],
                [
                    {src_type, regex},
                    {src_host_part, "127\\.0\\.0\\.\\d+"},
                    {dst_host_part, "127.0.0.1"},
                    {dst_host_hdr, "host3.localdomain"}
                ],
                [
                    {src_type, regex},
                    {src_host_part, "127\\.\\d+\\.\\d+\\.\\d+"},
                    {dst_host_part, "127.0.0.2"},
                    {dst_host_hdr, "host2.localdomain"}
                ]
            ]},
            {max_children, 1000}, % to process short command
            {debug,
                [
                    {handler_child, 2},
                    {handler_run, 2},
                    {run, 2},
                    {http, 3},
                    {rewrite, 0}
                ]
            }
        ]}
    ]},
    {eworkman, [
        {delay_for_log0, 10}, % ms. Start delay for ejobman to create a log
        % log is common and may also be defined in ejobman
        {log, "/var/log/erpher/ew"},
        {log_rotate, day}, % minute | hour | day | month
        {debug, [
                {worker, 3},
                {run, 4},
                {http, 5} % for mochiweb
        ]},
        {web_server_opts, [
            {id, "test_yaws"},
            {docroot, "/var/www/01/www"},
            {sconf, [
                %{docroot, "/"},
                {port, 8143},
                {listen, {127,0,0,1}},
                {ebin_dir, ["/var/www/01/ebin"]},
                %{appmods, [{"/", my_appmod}]},
                %{servername, "host3"},
                {ssl, [
                    {certfile, "/var/www/01/conf/ssl/localhost-cert.pem"},
                    {keyfile, "/var/www/01/conf/ssl/localhost-key.pem"}
                ]},
                {flags, [
                    {dir_listings, true}
                ]}
            ]},
            {gconf, [
                % yaws_dir mandatory for monitoring
                {yaws_dir, "/home/user/e5w3/lib/yaws-1.88"},
                {logdir, "/var/log/erpher/yaws"},
                {ebin_dir, ["/usr/lib/yaws/custom/ebin"]},
                {include_dir, ["/usr/lib/yaws/custom/include"]},
                {max_connections, nolimit},
                {trace, false},
                {copy_error_log, true},
                {log_wrap_size, 1000000},
                {log_resolve_hostname, false},
                {fail_on_bind_err, true},
                {auth_log, true},
                {id, eworkman_yaws},
                {pick_first_virthost_on_nomatch, true},
                {use_fdsrv, false},
                {subconfigdir, "/var/www/01/conf"}
            ]}
        ]},
        {pools, [
            [
                {id, p1},
                {min_workers, 1}, % long lasting workers
                {restart_policy, delay},
                {restart_delay, 10}, % sec. Delay before restarting the crashed worker
                {worker_duration, 60}, % seconds. Time before terminate
                {worker, [
                    {name, "/usr/bin/perl -Mstrict -w /etc/erpher/workers/t.pl"},
                    {debug,
                        [
                            {run, 4}
                        ]
                    }]}
            ],
            [
                {id, p2},
                {min_workers, 2}, % long lasting workers
                {worker_duration, 300}, % seconds. Time before terminate
                {worker, [
                    {name, "/etc/erpher/workers/test.sh"},
                    {debug,
                        [
                            {run, 4}
                        ]
                    }]}
            ]
        ]}
    ]}
].
